# dependencies
node_modules/
.DS_Store

# Expo
MiApp/.expo/
MiApp/dist/
MiApp/web-build/
MiApp/expo-env.d.ts

# Native
MiApp/.kotlin/
MiApp/*.orig.*
MiApp/*.jks
MiApp/*.p8
MiApp/*.p12
MiApp/*.key
MiApp/*.mobileprovision

# Metro
MiApp/.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local

# typescript
*.tsbuildinfo

MiApp/app-example

# generated native folders
MiApp/ios
MiApp/android
